<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="multi.thread.sample.infrastructure.mybatis.UserMapper">

    <update id="truncateUsers">
        TRUNCATE TABLE users
    </update>

    <insert id="insertUser">
        INSERT INTO users (btn, koza, name, kbn, ymd)
        VALUES (
            #{btn, jdbcType=CHAR},
            #{koza, jdbcType=INTEGER},
            #{name, jdbcType=VARCHAR},
            #{kbn, jdbcType=CHAR},
            #{ymd, jdbcType=DATE}
        )
    </insert>

</mapper>
